{
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "never"],
    "no-console": "off",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-use-before-define": ["error", { "functions": false, "variables": false }]
  },
  "env": {
    "jest": true
  }
}
